/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
}

.wrapper-col {
    padding: 0 10px;
}

.wrapper-row {
    padding: 10px 0;
}
