<div class="menu">
    <div class="icon">
        <i data-feather="home" fill="currentColor" stroke="white"></i>
        <a>Home</a>
    </div>
    <div class="icon">
        <i data-feather="compass" color="#8D9DB9"></i>
        <a class="not-selected">Comparator</a>
    </div>
    <div class="icon">
        <i data-feather="help-circle" color="#8D9DB9"></i>
        <a class="not-selected">Quiz</a>
    </div>
    <div class="icon">
        <i data-feather="heart" color="#8D9DB9"></i>
        <a class="not-selected">Favorites</a>
    </div>
</div>